:root {
  font-family: "Montserrat", sans-serif;
  color: #0f172a;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

button,
a {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
